.c-button {
  font-size: $font-size-small;
  color: $color-10 !important;
  padding: 8px 30px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba($color-5, .2);
  background: linear-gradient(to bottom, $color-11, $color-1);

  &.-small-padding { padding: 8px 10px; }

  &.-big {
    height: 40px;
    padding: 10px 30px;

    @media $(mq-mobile) {
      height: 50px;
      padding: 12px 30px;
      font-size: $font-size-medium;
    }
  }
}
