/* General layout */
$wrapper-max-width:       940px;
$wrapper-padding:          30px;
$wrapper-tablet-padding:   30px;
$wrapper-mobile-padding:   15px;

/* Font families */
$font-family-1: "Open Sans", sans-serif;

/* Font sizes */
$font-size-x-small:  12px;
$font-size-small:    14px;
$font-size-normal:   16px;
$font-size-medium:   20px;
$font-size-x-medium: 22px;
$font-size-big:      24px;
$font-size-x-big:    28px;
$font-size-huge:     32px;
$font-size-x-huge:   42px;

/* Font weights */
$font-weight-light:  300;
$font-weight-normal: 400;
$font-weight-bold:   700;

/* Colors */
$color-1:  #11A3EB;
$color-2:  #0BCE35;
$color-3:  #FFB11F;
$color-4:  #E02D43;
$color-5:  #0A0B0C;
$color-6:  #636A71;
$color-7:  #8F96A0;
$color-8:  #D2D9DC;
$color-9:  #F0F3F7;
$color-10: #FFFFFF;
$color-11: #25BDFC;

/* Breakpoints */
$breakpoint-mobile:        425px;
$breakpoint-tablet-small:  600px;
$breakpoint-tablet:        768px;
$breakpoint-laptop:       1024px;

/* Media queries */
$mq-mobile:       screen and (width >= $breakpoint-mobile);
$mq-tablet-small: screen and (width >= $breakpoint-tablet-small);
$mq-tablet:       screen and (width >= $breakpoint-tablet);
$mq-laptop:       screen and (width >= $breakpoint-laptop);

$mq-wrapper-width: screen and (width >= calc($wrapper-max-width + 2 * $wrapper-padding));
