.l-homepage {
  padding-bottom: 40px;

  .information-banner {
    text-align: center;

    .content {
      display: inline-block;
      padding: 40px 0 20px 0;
      color: $color-5;
      text-align: center;
      background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAxNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48dGl0bGU+cGhvbmUtaWNvbjwvdGl0bGU+PGcgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMSAxKSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAyMFYyYzAtMSAuODU3LTIgMS43MTQtMmg4LjU3MkMxMS4xNDMgMCAxMiAxIDEyIDJ2MThjMCAxLS44NTcgMi0xLjcxNCAySDEuNzE0Qy44NTcgMjIgMCAyMSAwIDIweiIgc3Ryb2tlPSIjMTFBM0VCIi8+PGNpcmNsZSBmaWxsPSIjMTFBM0VCIiBjeD0iNiIgY3k9IjE5IiByPSIxIi8+PC9nPjwvc3ZnPg==") no-repeat;
      background-position: top 10px center;

      @media $(mq-laptop) {
        padding: 20px 35px;
        background-position: left center;
      }

      a {
        display:  inline-block;
        position: relative;

        &:after {
          content: '';
          display:  block;
          position: absolute;
          top: calc(50% + 1px);
          right: -10px;
          width:  8px;
          height: 8px;
          border-width: 2px;
          border-color: $color-1;
          border-radius: 1px;
          border-right-style:  solid;
          border-bottom-style: solid;
          transform: translateY(-50%) rotate(-45deg);
        }
      }
    }
  }

  .why-stuart {
    margin-top: 90px;
    text-align: center;

    > .cards {
      margin: 0 -$wrapper-mobile-padding;
      margin-top: 50px;

      @media $(mq-mobile) {
        margin: 0 -$wrapper-tablet-padding;
        margin-top: 50px;
      }

      @media $(mq-tablet-small) {
        display: flex;
        justify-content: space-between;
        margin: 0;
        margin-top: 50px;
        > div { flex-basis: calc(50% - 10px); }
      }

      .hero-sme {
        background: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFxQYGBcUFhYaHSUfGhsjHBYWICwgIyYnKSopGR8tMC0oMCUoKSj/2wBDAQcHBwoIChMKChMoGhYaKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCj/wAARCAAKABMDASIAAhEBAxEB/8QAFwAAAwEAAAAAAAAAAAAAAAAAAAYHBf/EACgQAAEDAwIDCQAAAAAAAAAAAAECAwQABREGEhMhQSIkMVFxgZGT0f/EABYBAQEBAAAAAAAAAAAAAAAAAAQAA//EABkRAQADAQEAAAAAAAAAAAAAAAEAAhESIf/aAAwDAQACEQMRAD8AlmlGLTdrkZL7k4XGOhUpEba2pt7hgdkbuuSMdOVa7lrm6mzdWChoSFKwhXLABwD74zSvLZaiXp9MVtDCUtEgNpCcc0+XqfmmuySX2LXGQy+62hLaQEoWQBR7LR0iR7MZWdLzY0CwQYs4kyWm9rhSnIJz40VNVT5eT3qR9h/aKzLsvJ//2Q==") no-repeat;
        background-position: left center;
        background-size: cover;
      }

      .hero-corporate {
        background: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFxQYGBcUFhYaHSUfGhsjHBYWICwgIyYnKSopGR8tMC0oMCUoKSj/2wBDAQcHBwoIChMKChMoGhYaKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCj/wAARCAAKABMDASIAAhEBAxEB/8QAGAAAAgMAAAAAAAAAAAAAAAAAAAUDBgf/xAAhEAACAgICAgMBAAAAAAAAAAABAwIRAAQFIRITIjGRUf/EABUBAQEAAAAAAAAAAAAAAAAAAAID/8QAGBEAAwEBAAAAAAAAAAAAAAAAAAERIRL/2gAMAwEAAhEDEQA/AMZ3tbjNxk266AlIlflLsmNgfpN1iHXinW5xSWTmvWnOrVUpGBPQo9WaH3jTj2snuaipzlJfoZ8CbHQ66yL1wU0SVCMJCiDEVRsZFZUXexjbYVCbpyVq8x4X1aUE/pwytue4uYS1hPkfuR/uGDhCp//Z") no-repeat;
        background-position: left center;
        background-size: cover;
      }
    }
  }

  .github-link {
    position: relative;
    display:  inline-block;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 50px;
    font-size: $font-size-medium;
    text-align: center;
    color: $color-2;

    @media $(mq-mobile) {
      font-size: $font-size-big;
    }

    &:after {
      content: none;

      @media $(mq-tablet-small) {
        content: '';
        display:  block;
        position: absolute;
        top: calc(50% + 3px);
        right: -25px;
        width:  8px;
        height: 8px;
        border-width: 2px;
        border-color: $color-2;
        border-radius: 1px;
        border-right-style:  solid;
        border-bottom-style: solid;
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }

}
